/* Name: Simple Grid Example  */
/* MIT License */


/* box-sizing */
*,*:after,*:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* row */
.row:before,.row:after { content: " "; display: table; clear: both ;}
/* For Screens of 768px and above */
@media (min-width: 48em) {
/* column settings */
.column { float: left; margin-right: 1.5%; }
.column:last-child { margin-right:0; }
/* -- columns -- */
.one { width: 6.9583%; }
.two { width: 15.4167%; }
.three { width: 23.8750%; }
.four { width: 32.3333%; }
.five { width: 40.7917%; }
.six { width: 49.2500%; }
.seven { width: 57.7083%; }
.eight { width: 66.1667%; }
.nine { width: 74.6250%; }
.ten { width: 83.0833%; }
.eleven { width: 91.5417%; }
.twelve { width: 100%; }
/* Offsets */	
.offset-one { margin-left: 8.4583%  }
.offset-two { margin-left: 16.9167% }
.offset-three { margin-left: 25.3750%; }
.offset-four { margin-left: 33.8333%; }
.offset-five { margin-left: 42.2917%; }
.offset-six { margin-left: 50.7500%; }
.offset-seven { margin-left: 59.2083%; }
.offset-eight { margin-left: 67.6667% }
.offset-nine { margin-left: 76.1250%; }
.offset-ten { margin-left: 84.5833%; }
.offset-eleven { margin-left: 93.0417%; }
}
